html,
body {
    height: 100%;
    margin: 0;
    width: 200%;
    display: flex;
}

nav {
    position: fixed;
    width: 100%;
    opacity: 0;
}

h1 {
    text-align: center;
    margin: 0;
}

#fpage {
    width: 100%;
    background-color: #CCC;
    height: 100%;
}

#spage {
    width: 100%;
    background-color: #CC0;
    height: 100%;
}